<div class="page-result">
  <h1 class="title">Result</h1>

  <div class="result">
    <% @word %>
    <%= @output %>
  </div>

  <div class="second-chance">
    <%= link_to "Play again", new_path  %>
  </div>
</div>
